In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("C:/Users/vijta/OneDrive/Documents/stock market prediction.csv")

In [3]:
df.head()

,date,open,high,low,close,adjclose,volume,ticker,RSIadjclose15,RSIvolume15,...,high-15,K-15,D-15,stochastic-k-15,stochastic-d-15,stochastic-kd-15,volumenrelativo,diff,INCREMENTO,TARGET
0,03-01-2022,17.799999,18.219000,17.500000,17.760000,17.760000,106600,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.919758,-1.900001,-9.664295,0
1,04-01-2022,17.700001,18.309999,17.620001,17.660000,17.660000,128700,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.110440,-1.379999,-7.247895,0
2,05-01-2022,17.580000,17.799999,16.910000,16.950001,16.950001,103100,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.889560,-0.930000,-5.201344,0
3,06-01-2022,16.650000,16.879999,16.139999,16.170000,16.170000,173600,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.497843,-0.360000,-2.177856,0
4,07-01-2022,16.219999,16.290001,15.630000,15.710000,15.710000,137800,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.188956,-0.120000,-0.758054,0

In [4]:
df.drop('date', axis=1, inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7781 entries, 0 to 7780
Columns: 1284 entries, open to TARGET
dtypes: float64(602), int64(3), object(679)
memory usage: 76.2+ MB

In [6]:
df.isnull().sum()

open                  0
high                  0
low                   0
close                 0
adjclose              0
                   ...
stochastic-kd-15    587
volumenrelativo     215
diff                155
INCREMENTO          155
TARGET                0
Length: 1284, dtype: int64

In [7]:
# Identify columns with '#NAME?'
columns_to_remove = []
for column in df.columns:
    if '#NAME?' in df[column].values:
        columns_to_remove.append(column)

# Remove identified columns
df = df.drop(columns=columns_to_remove)

# Print the DataFrame after removing columns
print(df)

           open       high        low      close   adjclose  volume ticker  \
0     17.799999  18.219000  17.500000  17.760000  17.760000  106600   ASLE
1     17.700001  18.309999  17.620001  17.660000  17.660000  128700   ASLE
2     17.580000  17.799999  16.910000  16.950001  16.950001  103100   ASLE
3     16.650000  16.879999  16.139999  16.170000  16.170000  173600   ASLE
4     16.219999  16.290001  15.630000  15.710000  15.710000  137800   ASLE
...         ...        ...        ...        ...        ...     ...    ...
7776  23.250000  23.540001  23.250000  23.290001  22.699928    4900   ATLO
7777  23.350000  23.610001  23.250000  23.350000  22.758406    9200   ATLO
7778  23.450001  23.570000  23.219999  23.350000  22.758406   15200   ATLO
7779  23.330000  23.740000  23.330000  23.610001  23.011820    7100   ATLO
7780  23.680000  23.760000  23.610001  23.610001  23.011820    7100   ATLO

      RSIadjclose15  RSIvolume15  RSIadjclose25  ...    high-15       K-15  \
0               NaN          NaN            NaN  ...        NaN        NaN
1               NaN          NaN            NaN  ...        NaN        NaN
2               NaN          NaN            NaN  ...        NaN        NaN
3               NaN          NaN            NaN  ...        NaN        NaN
4               NaN          NaN            NaN  ...        NaN        NaN
...             ...          ...            ...  ...        ...        ...
7776      60.782255    47.081752      59.518051  ...  23.600000  26.223672
7777      62.022801    47.747952      60.316762  ...  23.610001  30.764722
7778      62.022801    48.713225      60.316762  ...  23.610001  30.764722
7779      67.186408    47.445460      63.685794  ...  23.740000  46.457382
7780      67.186408    47.445460      63.685794  ...  23.760000  45.784072

           D-15  stochastic-k-15  stochastic-d-15  stochastic-kd-15  \
0           NaN              NaN              NaN               NaN
1           NaN              NaN              NaN               NaN
2           NaN              NaN              NaN               NaN
3           NaN              NaN              NaN               NaN
4           NaN              NaN              NaN               NaN
...         ...              ...              ...               ...
7776  27.022465        26.223672        27.022465         -0.798793
7777  28.003602        30.764722        28.003602          2.761119
7778  29.251039        30.764722        29.251039          1.513683
7779  35.995609        46.457382        35.995609         10.461773
7780  41.002059        45.784072        41.002059          4.782013

      volumenrelativo      diff  INCREMENTO  TARGET
0            0.919758 -1.900001   -9.664295       0
1            1.110440 -1.379999   -7.247895       0
2            0.889560 -0.930000   -5.201344       0
3            1.497843 -0.360000   -2.177856       0
4            1.188956 -0.120000   -0.758054       0
...               ...       ...         ...     ...
7776         0.333333       NaN         NaN       0
7777         0.625850       NaN         NaN       0
7778         1.034014       NaN         NaN       0
7779         0.482993       NaN         NaN       0
7780         0.482993       NaN         NaN       0

[7781 rows x 606 columns]

In [8]:
df.fillna(df.mean(), inplace=True)  # Replace NaN with column mean

In [9]:
#label encoding
Label_Encode = LabelEncoder()
df['ticker'] = Label_Encode.fit_transform(df['ticker'])
df['TARGET'] = Label_Encode.fit_transform(df['TARGET'])
df.head()

,open,high,low,close,adjclose,volume,ticker,RSIadjclose15,RSIvolume15,RSIadjclose25,...,high-15,K-15,D-15,stochastic-k-15,stochastic-d-15,stochastic-kd-15,volumenrelativo,diff,INCREMENTO,TARGET
0,17.799999,18.219000,17.500000,17.760000,17.760000,106600,0,46.817434,49.81479,46.966016,...,37.947291,18.673824,18.704812,18.673824,18.704812,0.298413,0.919758,-1.900001,-9.664295,0
1,17.700001,18.309999,17.620001,17.660000,17.660000,128700,0,46.817434,49.81479,46.966016,...,37.947291,18.673824,18.704812,18.673824,18.704812,0.298413,1.110440,-1.379999,-7.247895,0
2,17.580000,17.799999,16.910000,16.950001,16.950001,103100,0,46.817434,49.81479,46.966016,...,37.947291,18.673824,18.704812,18.673824,18.704812,0.298413,0.889560,-0.930000,-5.201344,0
3,16.650000,16.879999,16.139999,16.170000,16.170000,173600,0,46.817434,49.81479,46.966016,...,37.947291,18.673824,18.704812,18.673824,18.704812,0.298413,1.497843,-0.360000,-2.177856,0
4,16.219999,16.290001,15.630000,15.710000,15.710000,137800,0,46.817434,49.81479,46.966016,...,37.947291,18.673824,18.704812,18.673824,18.704812,0.298413,1.188956,-0.120000,-0.758054,0

In [10]:
# Replace infinite and NaN values with mean
df.replace([np.inf, -np.inf], np.nan, inplace=True)
#df.fillna(df.mean(), inplace=True)
for col in df.columns:
    col_mean = df[col].mean()
    df[col].fillna(col_mean, inplace=True)


print(df)

           open       high        low      close   adjclose  volume  ticker  \
0     17.799999  18.219000  17.500000  17.760000  17.760000  106600       0
1     17.700001  18.309999  17.620001  17.660000  17.660000  128700       0
2     17.580000  17.799999  16.910000  16.950001  16.950001  103100       0
3     16.650000  16.879999  16.139999  16.170000  16.170000  173600       0
4     16.219999  16.290001  15.630000  15.710000  15.710000  137800       0
...         ...        ...        ...        ...        ...     ...     ...
7776  23.250000  23.540001  23.250000  23.290001  22.699928    4900      30
7777  23.350000  23.610001  23.250000  23.350000  22.758406    9200      30
7778  23.450001  23.570000  23.219999  23.350000  22.758406   15200      30
7779  23.330000  23.740000  23.330000  23.610001  23.011820    7100      30
7780  23.680000  23.760000  23.610001  23.610001  23.011820    7100      30

      RSIadjclose15  RSIvolume15  RSIadjclose25  ...    high-15       K-15  \
0         46.817434    49.814790      46.966016  ...  37.947291  18.673824
1         46.817434    49.814790      46.966016  ...  37.947291  18.673824
2         46.817434    49.814790      46.966016  ...  37.947291  18.673824
3         46.817434    49.814790      46.966016  ...  37.947291  18.673824
4         46.817434    49.814790      46.966016  ...  37.947291  18.673824
...             ...          ...            ...  ...        ...        ...
7776      60.782255    47.081752      59.518051  ...  23.600000  26.223672
7777      62.022801    47.747952      60.316762  ...  23.610001  30.764722
7778      62.022801    48.713225      60.316762  ...  23.610001  30.764722
7779      67.186408    47.445460      63.685794  ...  23.740000  46.457382
7780      67.186408    47.445460      63.685794  ...  23.760000  45.784072

           D-15  stochastic-k-15  stochastic-d-15  stochastic-kd-15  \
0     18.704812        18.673824        18.704812          0.298413
1     18.704812        18.673824        18.704812          0.298413
2     18.704812        18.673824        18.704812          0.298413
3     18.704812        18.673824        18.704812          0.298413
4     18.704812        18.673824        18.704812          0.298413
...         ...              ...              ...               ...
7776  27.022465        26.223672        27.022465         -0.798793
7777  28.003602        30.764722        28.003602          2.761119
7778  29.251039        30.764722        29.251039          1.513683
7779  35.995609        46.457382        35.995609         10.461773
7780  41.002059        45.784072        41.002059          4.782013

      volumenrelativo      diff  INCREMENTO  TARGET
0            0.919758 -1.900001   -9.664295       0
1            1.110440 -1.379999   -7.247895       0
2            0.889560 -0.930000   -5.201344       0
3            1.497843 -0.360000   -2.177856       0
4            1.188956 -0.120000   -0.758054       0
...               ...       ...         ...     ...
7776         0.333333 -0.259186   -2.674224       0
7777         0.625850 -0.259186   -2.674224       0
7778         1.034014 -0.259186   -2.674224       0
7779         0.482993 -0.259186   -2.674224       0
7780         0.482993 -0.259186   -2.674224       0

[7781 rows x 606 columns]

In [29]:
# train test split
X = df.drop(columns='TARGET', axis=1)
Y = df['TARGET']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state = 75)

In [30]:
#logistic regression
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

In [31]:
# print metric to get performance
print("Accuracy: ", model.score(X_test,Y_test)*100)

Accuracy:  82.65524625267666